{%extends 'basic.html'%}
{%load static%}

{% block content %}
<div id = "about" class="container-fluid text-center bg-grey">
    <h2>About Me</h2>
    <h4>HI, I'm Patricia Bakes!</h4> 
    <p>I am a professional chef with experience working in a 3 Michelin star restaurant. I have a cooking blog on Instagram.
        I am Belarusian, born and raised in Minsk. I lived and worked in different parts of the world. At the moment I live in Switzerland. </p>
    <span><a href="tel:+375257776655"><button class='btn btn-default btn-lg'>GET IN TOUCH</button></a></span>
  </div>

  <div class="container-fluid text-center bg-grey">
    <h2>My Values</h2>
    <h4><strong>MISSION:</strong><br> Is to offer perfect home made style cookies without preservatives,
      to the market.</h4> 
    <p><strong>VISION:</strong><br>Bringing the love for homemade sweets</p>
  </div>


{% endblock content %}
